<nz-layout>
  <nz-header>
    <div class="logo"><img src="assets/img/logo.png" width="250"></div>
    <!-- <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul> -->
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu" >
        <ng-container *ngFor="let item of menu">
          <li nz-submenu [nzIcon]="item.icon" [nzTitle]="item.nombre">
            <ul>
                <li nz-submenu [nzTitle]="item.modulos.nombre">
                  <ul>
                    <ng-container *ngFor="let acciones of item.modulos.accion">
                      <li nz-menu-item (click)="redireccionarPagina(acciones.accion)">{{acciones.accion}}</li>
                    </ng-container>
                  </ul>
                </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>


