<nz-page-header
class="site-page-header"
nzTitle="Lista de Clientes"
></nz-page-header>

<nz-table #nzTable [nzData]="listOfDisplayData" [nzScroll]="{ x: '8000px' }"  [nzPageSize]="20">
  <thead>
    <tr>
      <th>Acciones</th>
      <th nzCustomFilter>
        Nombre
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Razon Social</th>
      <th>Giro</th>
      <th>Tipo de Persona</th>
      <th>DUI</th>
      <th>NIT</th>
      <th>Direccion</th>
      <th>Municipio</th>
      <th>Departamento</th>
      <th>Telefono</th>
      <th>Registro Fiscal</th>
      <th>Tamaño de Empresa</th>
      <th>Nombre de Contacto</th>
      <th>Email</th>
      <th>Observaciones</th>
      <th>Percepcion</th>
      <th>Retencion</th>
      <th>Exento</th>
      <th>Credito</th>
      <th>Limite de Credito</th>
      <th>Dias de Credito</th>
      <th>Activo</th>
      <th>Cuenta Contable</th>
      <th>Empresa</th>
      <th>Saldo</th>
      <th>Fecha de Ingreso</th>
      <th>Sucursal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>
        <div>
          <i class="fa-solid fa-eye" style="margin-right: 5px;color:#3498DB;" nzTooltipTitle="Ver mas" nzTooltipPlacement="top" nz-tooltip></i>
          <i class="fa-solid fa-pen-to-square" style="margin-right: 5px;color:#E67E22;" nzTooltipTitle="Editar" nzTooltipPlacement="top" nz-tooltip></i>
          <i class="fa-solid fa-trash" style="color:#E74C3C;" nzTooltipTitle="Eliminar" nzTooltipPlacement="top" nz-tooltip></i>
        </div>
      </td>
      <td><b>{{ data.Nombre }}</b></td>
      <td>{{ data.RazonSocial }}</td>
      <td>{{ data.Giro }}</td>
      <td>{{ data.TipoPersona }}</td>
      <td>{{ data.Dui }}</td>
      <td>{{ data.NIT }}</td>
      <td>{{ data.Direccion }}</td>
      <td>{{ data.Municipio }}</td>
      <td>{{ data.Departamento }}</td>
      <td>{{ data.Telefono }}</td>
      <td>{{ data.RegistroFiscal }}</td>
      <td>{{ data.TamanoEmpresa }}</td>
      <td>{{ data.NombreContacto }}</td>
      <td>{{ data.Email }}</td>
      <td>{{ data.Observaciones }}</td>
      <td>{{ data.Percepcion }}</td>
      <td>{{ data.Retencion }}</td>
      <td>{{ data.Exento }}</td>
      <td>{{ data.Credito }}</td>
      <td>{{ data.LimiteCredito }}</td>
      <td>{{ data.DiasCredito }}</td>
      <td>{{ data.Activo }}</td>
      <td>{{ data.CuentaContable }}</td>
      <td>{{ data.Empresa }}</td>
      <td>{{ data.Saldo }}</td>
      <td>{{ data.FechaIngreso }}</td>
      <td>{{ data.Sucursal }}</td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
      <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
    </div>
  </div>
</nz-dropdown-menu>
